body{ background:#f0efef}
.bais{
    background-color: #ffffff;
    padding: 10px;
    }
.footer1 {
    background-color: #ffffff;
    padding: 10px;
    }
.center {
    text-align: center;
    }