.btn-hover {
    position: relative;
    overflow: hidden;
}
.main-btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    padding: 18px 28px;
    font-size: 18px;
    line-height: 1;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    transition: all .4s ease-in-out;
    border: 2px solid transparent;
    background: #37c2cc;
    overflow: hidden;
}
.main-btn:hover{
    background-color: #01a7b3;
}
.daoh{
    width: 100%;
    background-color: #ffffff;
    margin-bottom: 1px;
    display: none;
}
.daoh img{
  height: 8vh;
  border-radius: 50%;
  box-shadow: 1px 2px 10px #759098;
}
.daoh h2{
  position: absolute;
  right: 5vh;
  top: 1vh;
  font-weight: 500;
  color: #000000cb;
}
.cpjso,.kais1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .cpjso li,.kais1 li{
    width: 40vw;
    margin: 2vw;
    border-radius: 5px;
    color: #000000;
  }
  .cpjso img,.kais1 img{
    width: 99%;
    margin: auto;
    margin-top: 2vh;
    margin-bottom: 2vh;
    border-radius: 5vh;
  }
  .cpjso p,.kais1 p{
    color: #4f4f4fda;
    padding: 7vh;
    padding-bottom: 5vh;
  }
  .cpjso li h1{
    color: #000000b5;
    margin: 1vh 0 1vh;
    font-size: 8vh;
    font-weight: 550;
    }
    .kais1 li h2{
        color: #000000ca;
        margin: 1vh 0 1vh;
        font-size: 6vh;
        font-weight: 550;
    }
    .cpjso li p,.kais1 li p{
        margin-top: 0;
        color: rgba(0,0,0,.7);
        font-size: larger;
    }
    .sfyc{
      width: 90%;
      margin: auto;
      display: none;
    }
  @media (max-width: 768px) {
    .cpjso li,.kais1 li{
      width: 80vh;
      margin: 2vw;
    }
    .cpjso{
        background-image: linear-gradient(
            #9dedf6,
            #f0f6f8
          );
    }
    .cpjso p,.kais1 p{
        color: #4f4f4fda;
        padding: 3vh;
        padding-bottom: 4vh;
    }
    .sfyc{
      display: block;
    }
    .daoh{
      display: block;
    }
    .gongxianz{
      display: none;
    }
  }
  /* 盒子 */
  .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .jieks{
    width: 31%; /* 一行排3个盒子 */
    margin: 1%; /* 盒子与盒子之间的空隙 */
    background-color: white;
  }
  .jieks:hover{
    transition: all 0.7s ease;
    
  }
  .container .jieks{
    position: relative;
    padding: 2vh;
    border-radius: 10px;
  }
  .container .jieks svg{
    background-color: #5793abef;
    border-radius: 7px;
    padding: 2vh;
    box-shadow: 9px 9px 4px #e4f6f8;
    color: #fff;
  }
  .container .jieks svg:hover{
    background-color: #4ba3c6;
  }
  .container .jieks p{
    color: #00000087;
    font-size: larger;
    padding: 1vh;
  }
  @media (max-width: 960px) {
    .jieks{
      width: 48%;
    }
  }
  /* 盒子分割 */
  @media (max-width: 640px) {
    .jieks{
      width: 90%; 
    }
    .cpjso li h1{
      color: #000000b5;
      margin: 2vh;
      font-size: 5vh;
      font-weight: 550;
      }
      .kais1 li h2{
          color: #000000ca;
          margin: 2vh;
          font-size: 5vh;
          font-weight: 550;
      }
  }
  @media (min-width: 768px) {
    .cpjso .d2{
        background-color: #c4ebf3a9;
        border-radius: 50%;
        height: 100vh;
        width: 100vh;
      }
      .cpjso{
        background-image: linear-gradient(
            #9bdcf5,
            #f3fafd
          );
    }
  }
/* 版权  */
.banquanbf1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #534b8b;
}

.jies{
  width: 31%; /* 一行排3个盒子 */
  margin: 1%; /* 盒子与盒子之间的空隙 */
}

.banquanbf1 {
  background-color: #534b8b;
}

.banquanbf1 .jies p:hover {
  transition: all 0.7s;
  margin-left: 2vh;
}
.banquanbf1 .jies p {
  margin: 1vh 0 1vh 0.5vh;
  color: #fffffff2;
  cursor: pointer;
  margin-left: 0.5vh;
}
.banquanbf1 .jies h2 {
  color: #fff;
  font-weight: 500;
  font-size: xx-large;
}

.banquanbf1 .jies p a {
  color: #fffffff2;
}
.banquanbf1 .jies {
  position: relative;
  padding: 2vh;
  border-radius: 10px;
}
.banquanbf1 .zuihodh1 {
  width: 100%;
  margin-bottom: 15px;
}
.banquanbf1 .zuihodh1 .bqfgx1{
  width: 80%;
  margin-left: 10%;
  margin-bottom: 3vh;
  border-top: 1px solid #ffffff;
}
.zuihodh1 p{
  text-align: center;
  color: #ffffffd2;
}
.zuihodh1 p a{
  color: rgba(20, 172, 20, 0.856);
}
/* .zuihodh1 h1 img{
  width: 6vh;
  height: 6vh;
  border-radius: 50%;
} */
@media (max-width: 960px) {
  .jies{
    width: 48%;
  }
}
@media (max-width: 640px) {
  .jies{
    width: 90%; 
  }
}
/* 版权结束 */
/* 公共弹窗部分 */
.tisl{
  width: 60%;
  max-height: 50%;
  background-color: #fff;
  border-radius: 15px;
  position: relative;
  position: fixed;
  top: 20%;
  left: 20%;
  box-shadow: 2px 3px 10px 1000vh #adadad9c;
  padding: 10px;
  z-index: 2;
  display: none;
  overflow: auto;
}
.tisl button{
  position: absolute;
  bottom: 1vh;
  right: 5vh;
}
.neirxx{
  overflow: auto;
}
.tisl .neirxx{
  border: 1px solid #e6e6e6;
  border-radius: 10px;
  padding: 3vh;
}
.tisl h3{
  text-align: center;
  margin-bottom: 3vh;
}
@media (max-width: 768px) {
  .tisl{
      width: 85%;
      left: 7.5%;
  }
}
