.zb{
    margin-top: 30px;
    height: 100px;
    background-color: #84799f;
    border-radius: 20px;
    box-shadow: 2px 5px 10px 5px #9185ac;
}

.zb p{
    margin-top: 10px;
    text-align: center;
}

.zongbtp{
    margin-top: 50px;
    width: 100%;
    background-color: #fff;
    box-shadow: 2px 5px 10px 5px #d8d8d8;
    margin-bottom: 20px;
}

.zongbtp ul li{
    width: 300px;
    height: 300px;
    float: left;
    text-align: center;
    line-height: 300px;
    border-left: 1px solid #dfdfdf;
    border-top: 1px solid #dfdfdf;
}

.liuyan{
    height: 200px;
    width: 100%;
    margin: 20px 20px;
    background-color: #9891ac;
    border-radius: 20px;
    box-shadow: 2px 5px 10px 5px #646a80;
}

.liuyan .mar2 span{
    margin-top: 5px;
    margin-bottom: 10px;
    display: inline-block;
    height: 30px;
    width: 100px;
    color: #ffffff;
    background-color: #927394dc;
    line-height: 30px;
    text-align: center;
    border-radius: 20px;
}

.liuyan .mar2 span:hover{
    box-shadow: 4px 2px 10px 2px #5e5d78;
}


.liuyan .mar3 span{
    margin-top: 5px;
    margin-bottom: 10px;
    display: inline-block;
    height: 30px;
    width: 200px;
    color: #ffffff;
    background-color: #927394dc;
    line-height: 30px;
    text-align: center;
    border-radius: 20px;
}

.liuyan .mar3 span:hover{
    box-shadow: 4px 2px 10px 2px #5e5d78;
}

.xiabu_2{
    height: 50px;
    width: 50px;
    background-color: #74698e;
    border-radius: 50%;
    margin-right: 15px;
    /* box-shadow: 10px 5px 12px 1px #626363; */
    box-shadow: 0px 0px 12px 5px #665b80;
    text-align: center;
    line-height: 50px;
    position: fixed;
    bottom: 80px;
    right: 0;
    color: #fff;
    font-size: 25px;
}
