html {
  scroll-behavior: smooth;
}
.tobu .caidan2 {
  display: none;
}
body {
  background-color: #ffffff;
}
@media (max-width: 768px) {
  .tobu .caidan {
    display: none;
  }
  .tobu .caidan2 {
    display: block;
  }
  .tobu {
    background-color: #ffffff;
    box-shadow: 0 3px 5px #ededed;
  }
  .tobu .caidan2 {
    position: relative;
  }
  .tobu svg {
    display: inline-block;
    position: absolute;
    top: 6.13333333vh;
    right: 13.33333333vh;
    font-size: large;
  }
}
.tobu {
  position: fixed;
  top: 0;
  left: 0;
  position: relative;
  width: 100%;
  height: 16vh;
  background-color: #ffffff;
  box-shadow: 0 3px 5px #ededed;
}
.tobu .caidan {
  position: absolute;
  right: 2.66666667vh;
  top: 2.4vh;
}
.tobu .caidan2 {
  position: absolute;
  right: 2.66666667vh;
  top: 1.6vh;
  color: #000000;
}
.tobu .caidan2 button {
  width: 8vh;
  height: 8vh;
  font-size: 20px;
  background-color: #ececec;
  border: none;
  border-radius: 10px;
  margin-top: 2.13333333vh;
}
.tobu .caidan {
  line-height: 10.66666667vh;
}
.tobu .caidan ul li {
  float: right;
  height: 5.33333333vh;
  width: 10.66666667vh;
}
.tobu .caidan ul li a {
  color: #000;
}
.tobu .caidan ul li a:hover {
  color: #74698e;
}
.tobu .yccd {
  position: relative;
  position: absolute;
  left: -61.33333333vh;
  top: 0;
  transition: all 0.5s;
  width: 50.66666667vh;
  height: 80vh;
  background-color: #fffefe;
  border-radius: 20px;
  box-shadow: 2px 2px 5px #00000018;
  z-index: 2;
}
.tobu .yccd span {
  position: absolute;
  right: 1.33333333vh;
  top: 1.33333333vh;
  display: inline-block;
  width: 6.66666667vh;
  height: 6.66666667vh;
  background-color: #e7e3e3;
  line-height: 6.66666667vh;
  text-align: center;
  border-radius: 10px;
  color: #727070;
}
.tobu .yccd span:hover {
  color: #000000;
}
.tobu .yccd p:first-child {
  text-align: center;
  font-size: 5.33333333vh;
  color: #727070;
  border-radius: 10px;
}
.tobu .yccd ul li {
  margin: 2.66666667vh;
}
.tobu .yccd ul li a {
  color: #000;
}
.tobu .yccd img {
  width: 50.66666667vh;
}
@keyframes log {
  from {
    margin-left: 0;
  }
  to {
    margin-left: 21.33333333vh;
  }
}
.tobu .logo img {
  position: relative;
  height: 21.33333333vh;
  margin-top: -2.66666667vh;
  color: #74698e;
}
.tobu .logo p img {
  position: absolute;
  top: 0;
  left: 0;
  height: 18.66666667vh;
  animation: log 1s infinite;
}
.xiabu3 {
  /* text-align: center; */
  width: 50px;
  height: 70px;
  background-color: #74698e;
  /* position: fixed;
    bottom: 0px;
    right: 100px;  */
  transition: width 1s;
  border-radius: 30px;
  margin-bottom: 10px;
  margin-left: 10px;
  /* position: fixed;
    bottom: 10px;
    left: 10px; */
  position: fixed;
  bottom: 0;
}
.xiabu3 p {
  float: right;
  margin-top: 7px;
  margin-right: 10px;
}
.xiabu3:hover {
  width: 320px;
  box-shadow: 1px 2px 10px 2px #b2b2b2;
}
.xcj svg {
  position: fixed;
  right: 5.33333333vh;
  bottom: 13.33333333vh;
  width: 8vh;
  height: 8vh;
  background-color: #74698e;
  border-radius: 50%;
  box-shadow: 2px 3px 10px 5px #575757d1;
}
.banquan {
  width: 100%;
  background-color: #807598;
  color: #fff;
  text-align: center;
  border-radius: 20px;
  margin-bottom: 10px;
}
.banquan p a:nth-child(1) {
  color: #b2b2b2;
}
.banquan p img:nth-child(1) {
  height: 30px;
  border-radius: 50%;
}
.hyanygl {
  align-items: center;
  justify-content: center;
  margin-left: 20px;
}
@keyframes log2 {
  from {
    width: 10%;
  }
  to {
    width: 90%;
  }
}
.hyanygl ul li {
  height: 50px;
  background-color: #7b87ac;
  border: 1px solid #407c8d;
  margin-top: 10px;
  animation: log2 1.3s infinite alternate;
  border-radius: 30px;
}
.hyanygl ul li i {
  color: #8fceab;
  float: right;
  font-size: 4vh;
  line-height: 50px;
}
.daoh {
  display: inline-block;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 13.33333333vh;
  background-color: #635a7cf7;
  border-radius: 20px;
  line-height: 10.66666667vh;
  color: #ffffff;
  text-align: center;
  margin-bottom: -20px;
}
.daoh a {
  color: #ffffff;
  margin-left: 13.33333333vh;
}
.daoh a:nth-child(1) {
  color: #ffffff;
  margin-left: 0;
}
.tobu {
  position: relative;
}
.tobu .xcj2 svg {
  position: absolute;
  left: 21.33333333vh;
  top: 6.53333333vh;
}
.tobu .xcj2 span {
  position: absolute;
  left: 26.66666667vh;
  top: 5.46666667vh;
  background-color: #ff4545;
  color: #fff;
  text-align: center;
  border-radius: 20px;
  padding: 5px;
  cursor: pointer;
}
.tobu .wq {
  border: none;
  height: 5.33333333vh;
}
.tobu .xcj2 span:nth-child(1):hover {
  box-shadow: 1px 2px 10px 3px #b5b5b5;
}
.tobu .ycd {
  position: relative;
  background-color: #f2f4f5;
  width: 24vh;
  padding-top: 5px;
  text-align: center;
  border-radius: 10px;
  margin-left: 21.33333333vh;
  color: #e37a7a;
  display: none;
  cursor: pointer;
  box-shadow: 1px 2px 10px 3px #d0d0d0;
}
.tobu .ycd p a {
  color: #a4d9dc;
}
.tobu .ycd span {
  position: absolute;
  left: 2px;
  top: 2px;
  font-size: small;
  background-color: #5df30d;
}
.tobu .ycd p a:hover {
  color: #7cb6e6;
}
.tobu .ycd .zux {
  color: #e37a7a;
}
